:root {
  --text-title: #776e65;
  --text-button: #f9f6f2;
  --main-bg: #f9f6f2;
  --brown-bg: #bbada0;
  --white: #fff;
  --brow-cell: #776e65;
  --brow-cell-03: rgb(238 228 218 / 35%);
}

html {
  font-size: 16px;
}
